= semantic_form_for :session, :url => sessions_path do |session|
  = session.input :login
  = session.input :password
  = session.buttons do
    = session.commit_button 'Submit'
    = link_to 'Recuperar Contraseña', forgot_password_path
