= semantic_form_for @user do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :username
    = f.input :first_name
    = f.input :last_name
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
  = f.buttons do
    = f.commit_button 'Update User'

