%h2 Namespaces
%table
  - @namespaces.each do |ns|
    %tr
      %td= ns.id
      %td= ns.name
      %td
        = link_to 'ver', windows_namespace_path(ns)
        = link_to 'editar', edit_windows_namespace_path(ns)
        = link_to 'Clases', windows_classes_path({:namespace => ns.id})
        = link_to 'eliminar', windows_namespace_path(ns), :method => 'delete', :confirm => '¿Está seguro?'

= link_to 'Nuevo', new_windows_namespace_path